{# djlint:off D018 #}
{% extends "foirequest/header/header.html" %}
{% load static %}
{% load i18n %}
{% load foirequest_tags %}
{% load fds_cms_tags %}
{% block foirequest_header %}
    {# Brüssler Büro #}
    {% if object.jurisdiction.id == 107 %}
        <div class="alert alert-info">
            🇪🇺 Sie wollen mehr Transparenz in der EU? <a href="/info/ueber/eu-recherchen/">Entdecken Sie unsere EU-Recherchen!</a>
        </div>
    {% endif %}
    {# Triggers another query #}
    {% if "Umwelt" in object.public_body.category_list %}
        <div class="alert alert-info">
            🌼 Interesse an Umweltinfos? Wir beraten Aktivist*innen und Initiativen kostenlos bei Anfragen.
            <a href="https://fragdenstaat.de/aktionen/klima-helpdesk/"
               class="alert-link">Zum Klima-Helpdesk</a>
        </div>
    {% endif %}
    {% if "corona" in object.title|lower or "covid" in object.title|lower or "virus" in object.title|lower or "novavax" in object.title|lower %}
        <div class="alert alert-warning text-center">
            🦠<a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV.html"
   class="alert-link">Allgemeine Infos zum Corona-Virus finden Sie hier beim Robert-Koch-Institut</a>🦠
        </div>
    {% endif %}
{% endblock %}
{% block foirequest_below_header %}
{% endblock %}
