{# djlint:off D018 #}
{% extends "account/settings.html" %}
{% block settings_name %}
    <a href="/hilfe/funktionen-der-plattform/namen-aendern/"
       title="Siehe Hilfe-Seite zum Ändern Ihres Namens">
        <i class="fa fa-question-circle"></i>
    </a>
{% endblock %}
{% block settings_privacy %}
    <a href="/hilfe/ihr-konto-verwalten/privatsphare-einstellungen/"
       title="Siehe Hilfe-Bereich zu Ihren Privatsphäre-Einstellungen">
        <i class="fa fa-question-circle"></i>
    </a>
{% endblock %}
{% block post_password_menu %}{% endblock %}
{% block post_password %}{% endblock %}
